<!DOCTYPE html>
<html>

<head>
    <title> Meadowlark travel</title>
</head>

<body>
    {{!-- 再使用了express.static之后，/public路径相对于客户端是隐形的，路径中没有/public --}}
    <header>
        <img src="img/logo.png">
    </header>
    {{!-- {{}}输出html字符串，{{{}}} 输出html --}}
    {{{body}}}
    <p>啦啦啦</p>
</body>

</html>